sevenSpecies/rate-coefficients/Ionization_Ground.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/Ionization_higher.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/Recombination_meta.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/StepExcitation_meta_fourp.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/Deexcitation_meta.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/Ionization_res.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/StepExcitation_meta_higher.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/Excitation_res.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/Recombination_Ground.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/Recombination_higher.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/Recombination_res.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/StepExcitation_res_fourp.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/StepExcitation_res_meta.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/Deexcitation_higher.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/Excitation_meta.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/Recombination_fourp.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/StepExcitation_higher_meta.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/StepExcitation_meta_res.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/StepExcitation_fourp_meta.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/StepExcitation_fourp_res.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/Excitation_fourp.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/Excitation_higher.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/StepExcitation_res_higher.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/StepExcitation_higher_res.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/Deexcitation_fourp.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/Deexcitation_res.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/Ionization_fourp.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/Ionization_meta.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/StepExcitation_fourp_higher.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/rate-coefficients/StepExcitation_higher_fourp.h5 filter=lfs diff=lfs merge=lfs -text
sevenSpecies/restart_output-torch.sol.h5 filter=lfs diff=lfs merge=lfs -text
