*.h5 filter=lfs diff=lfs merge=lfs -text
tps_data/tps_Tg_00.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_E_02.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_eIm_01.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_eRe_02.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_n0_02.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_ne_01.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_Tg_03.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_ni_03.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_Tg_02.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_eIm_03.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_n0_01.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_ns_by_n0_00.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_ns_by_n0_02.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_E_03.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_gidx_to_pidx.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_n0_00.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_eIm_02.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_ns_by_n0_03.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_E_01.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_eRe_01.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_eRe_03.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_n0_03.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_ne_00.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_ni_00.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_ni_02.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_ns_by_n0_01.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_E_00.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_Tg_01.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_eIm_00.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_eRe_00.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_ne_02.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_ne_03.npy filter=lfs diff=lfs merge=lfs -text
tps_data/tps_ni_01.npy filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/ts_Nc256_grid_02_rank_0_npes_1_plot.png filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/ts_Nc512_grid_03_rank_0_npes_1_qoi.csv filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/ts_Nc64_grid_02_rank_0_npes_1_plot.png filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/ts_all_grid_03_rank_0_npes_1_plot.png filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/ts_Nc256_grid_03_rank_0_npes_1_qoi.csv filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/ts_Nc64_grid_03_rank_0_npes_1_plot.png filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/tps1_fetch_grid_02_rank_00_npes_01.csv filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/tps1_fetch_grid_03_rank_00_npes_01.csv filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/tps_fetch_grid_02_rank_00_npes_01.csv filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/ts_Nc512_grid_02_rank_0_npes_1_plot.png filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/ts_Nc64_grid_02_rank_0_npes_1_qoi.csv filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/fetch_grid_02_rank_00_npes_01.csv filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/ts_Nc128_grid_02_rank_0_npes_1_plot.png filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/ts_Nc256_grid_02_rank_0_npes_1_qoi.csv filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/ts_Nc512_grid_03_rank_0_npes_1_plot.png filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/ts_Nc64_profile.csv filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/fetch_grid_03_rank_00_npes_01.csv filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/ts_Nc128_grid_03_rank_0_npes_1_qoi.csv filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/ts_Nc128_profile.csv filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/ts_Nc256_profile.csv filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/ts_Nc512_grid_02_rank_0_npes_1_qoi.csv filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/ts_Nc64_grid_03_rank_0_npes_1_qoi.csv filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/tps_fetch_grid_03_rank_00_npes_01.csv filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/ts_all_grid_02_rank_0_npes_1_qoi.csv filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/ts_all_grid_03_rank_0_npes_1_qoi.csv filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/ts_all_profile.csv filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/ts_Nc128_grid_02_rank_0_npes_1_qoi.csv filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/ts_Nc512_profile.csv filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/ts_all_grid_02_rank_0_npes_1_plot.png filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/ts_Nc128_grid_03_rank_0_npes_1_plot.png filter=lfs diff=lfs merge=lfs -text
tps_bte_x1_Nc_Conv/ts_Nc256_grid_03_rank_0_npes_1_plot.png filter=lfs diff=lfs merge=lfs -text
